---
---

<h1>Crear Nueva Promoci칩n</h1>
    <form method="POST" action="/api/promocion/post">
      <label>
        Nombre:
        <input type="text" name="nombre" required />
      </label>
      <label>
        Descripci칩n:
        <input type="text" name="descripcion" required />
      </label>
      <label>
        Descuento:
        <input type="number" name="descuento" required />
      </label>
      <label>
        V치lido Desde:
        <input type="date" name="valido_desde" required />
      </label>
      <label>
        V치lido Hasta:
        <input type="date" name="valido_hasta" required />
      </label>
      <label>
        Productos (IDs separados por comas):
        <input type="text" name="productos" required />
      </label>
      <button type="submit">Crear</button>
    </form>